<?xml version="1.0"?>
<Parameters>
    <TenantAdmin>https://mybdodev-admin.sharepoint.com</TenantAdmin>
    <AdminAccount>dpille@mybdodev.onmicrosoft.com</AdminAccount>
    <SiteUrl>https://mybdodev.sharepoint.com/sites/adiddas</SiteUrl>
    <SiteTitle>adiddas</SiteTitle>
    <FullControlPermission>Full Control</FullControlPermission>
    <ReadPermission>Read</ReadPermission>
</Parameters>