<?xml version="1.0"?>
<Parameters>
    <TenantAdmin>https://brsupport-admin.sharepoint.com</TenantAdmin>
    <AdminAccount>admin@brsupport.onmicrosoft.com</AdminAccount>
    <SiteUrl>https://brsupport.sharepoint.com/sites/IIM1</SiteUrl>
    <SiteTitle>IIM1</SiteTitle>
    <FullControlPermission>Full Control</FullControlPermission>
    <ReadPermission>Read</ReadPermission>
</Parameters>